
//base
@import './base/normalize';

//components

@import './components/colors';

//layout
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/modal';
@import './layout/portfolio-buttons';
@import './layout/portfolio-box';

//pages


.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


