

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a{
    text-decoration: none;
}
.body {
  font-family: 'Roboto', sans-serif;
  background: white;
  font-size: 14px;
  color:  #757575 ;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}